<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Symbiote Content Management!</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}
            Welcome
        {% endblock %}
    </body>
</html>
